.web__cta {
  width: 1920px;
  align-self: center;
  padding: 0 2rem;
}

.web__cta-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  margin: 4rem;
  border-radius: 1rem;
  background: var(--gradient-bar);
}

.web__cta-content p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  color: #0e0e0e;
}

.web__cta-content h3 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 45px;
  color: #000;
}

.web__cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.web__cta-btn button {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  border-radius: 40px;
  background: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 150px;
}

@media screen and (max-width: 1920px) {
  .web__cta {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .web__cta {
    padding: 0;
  }

  .web__cta-wrapper {
    flex-direction: column;
  }

  .web__cta-btn {
    margin: 2rem 0 0;
  }
}

@media screen and (max-width: 480px) {
  .web__cta {
    margin: 4rem 2rem;
  }

  .web__cta-content h3 {
    font-size: 18px;
    line-height: 32px;
  }

  .web__cta-btn button {
    font-size: 14px;
    line-height: 28px;
  }
}
