.web__possibility {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.web__possibility-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 2rem;
}

.web__possibility-image img {
  width: 100%;
  height: auto;
}

.web__possibility-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 50px;
}

.web__possibility-content h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-text);
  margin-bottom: 1.5rem;
}

.web__possibility-content h4:last-child {
  color: var(--color-subtext);
}

.web__possibility-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  margin-bottom: 1.5rem;
}

.web__possibility-content p {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-text);
  margin-bottom: 2rem;
}

.web__features .web__features-container__feature-text {
  max-width: unset;
}

@media screen and (max-width: 768px) {
  .web__possibility {
    flex-direction: column;
    align-items: center;
  }

  .web__possibility-image {
    margin-right: 0;
  }

  .web__possibility-content {
    margin-top: 2rem;
  }
}
